config/database.yml
config/contacts.yml
config/hoptoad.yml
config/omniauth.yml
config/s3.yml
config/translation.yml
config/subscription.yml
db/*.sql*
tmp/*
log/*.log
.idea
.bundle
.rvmrc
*~
public/system/**/*