<ul id="invite_contacts" class="element-list">
<% @contacts.each do |contact| %>
  <li class="element contact">
    <h3><%= contact.name %></h3>
    <p><%= contact.email %></p>
  </li>
<% end %>
</ul>