<p>
  <b>Practice:</b>
  <%= @practice_technique.practice_id %>
</p>

<p>
  <b>Technique:</b>
  <%= @practice_technique.technique_id %>
</p>


<%= link_to 'Edit', edit_practice_practice_technique_path(@practice, @practice_technique) %> |
<%= link_to 'Back', practice_practice_techniques_path(@practice) %>
