@font-face {
	font-family: 'LeagueGothicRegular';
	src: url(../fonts/League_Gothic-webfont.eot);
	src: local('☺'), url(../fonts/League_Gothic-webfont.woff) format('woff'), url(../fonts/League_Gothic-webfont.ttf) format('truetype'), url(../fonts/League_Gothic-webfont.svg#webfonth8J5BRG2) format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNovaCondensedRegular';
	src: url(../fonts/proximanovacond-regular-webfont.eot);
	src: local('☺'), url(../fonts/proximanovacond-regular-webfont.woff) format('woff'), url(../fonts/proximanovacond-regular-webfont.ttf) format('truetype'), url(../fonts/proximanovacond-regular-webfont.svg#webfontOBwLjF7B) format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNovaRegular';
	src: url(../fonts/proximanova-regular-webfont.eot);
	src: local('☺'), url(../fonts/proximanova-regular-webfont.woff) format('woff'), url(../fonts/proximanova-regular-webfont.ttf) format('truetype'), url(../fonts/proximanova-regular-webfont.svg#webfontpbuFaM5l) format('svg');
	font-weight: normal;
	font-style: normal;
}

html {
  font-family: ProximaNovaRegular, helvetica;
}

html.home {
  background: url(/images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.ui-widget {
  font-family: ProximaNovaRegular;
}

body {
  margin-left: 10px;
  margin-right: 10px;
}

#header {
  overflow: hidden;
  height: 62px;
}

#logo {
  position: absolute;
  background: transparent url("/images/logo.png") no-repeat;
  text-indent: -9999px;
  height: 62px;
  width: 255px;
  margin: 0;
}

#header #menu {
  float: right;
  margin-top: 3px;
}

#header #welcome {
  text-align: right;
  margin-top: 3px;
  margin-right: 10px;
}

#header #locale {
  float: right;
  margin-top: 3px;
  margin-right: 10px;
  margin-left: 4px;
}

#header #welcome_spacer {
  height: 8px;
}

.alert {
  overflow: auto;
}

.alert p {
  float: left;
}

.alert form {
  float: left;
  margin-top: 3px;
}

.element-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.element {
	-moz-box-shadow: 8px 5px 5px #999;
    -webkit-box-shadow: 8px 5px 5px #999;
    padding: 15px;
    margin: 10px;
    background: #fff;
    border: solid 1px #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.element h3 {
  margin-top: 0;
  display: inline;
}

ul.actions {
  padding: 0;
}

ul.element-actions {
  /* text-align: right; */
  margin-top: 10px;
}

#event_practice_actions a {
  color: white;
}

ul.actions li{
  display: inline-block;
}

ul.actions li.icon{
  margin: 2px;
  padding: 4px 5px;
}

ul.actions li form {
    display: inline-block;
}

input[type='submit'].awesome {
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
}

.gecko input[type='submit'].awesome {
   padding: 2px;
}

#confirm_dialog p {
  margin: 12px 0 0 0;
}

.help {
  display: inline-block;
  margin-left: 4px;
  vertical-align: top;
}

#registration_links {
  margin-top: 10px;
}

div[aria-labelledby = 'ui-dialog-title-edit_profile_dialog'] .ui-dialog-titlebar {
  display: none;
}

div[aria-labelledby = 'ui-dialog-title-edit_profile_dialog'] .ui-dialog-content, div[aria-labelledby = 'ui-dialog-title-edit_profile_dialog'] .ui-tabs {
  padding:0;
}


#ui-tab-dialog-close {
  position:absolute; right:10px; top:20px;
}

#ui-tab-dialog-close a {
  float:none; padding:0;
}

#functionalities {
    margin: 20px auto;
    width: 900px;
    overflow: auto;
}

#functionalities_slideshow {
  margin: 0 auto;
  float: left;
  display: inline-block;
  width: 510px;
  height: 285px;
  background: #fff;
  border: 1px solid #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#functionalities_slideshow img {
  display: inline-block;
  padding-left: 5px;
  padding-top: 5px;
}

#functionalities_slideshow img {
  display: inline-block;
}

.page-content {
    margin-left: 20px;
    display: inline-block;
}

#functionalities_list {
  display: inline-block;
  margin-left: 20px;
  width: 350px;
  font-family: ProximaNovaRegular;
  line-height: 20px;
}

#functionalities_list h2 {
    font-family: LeagueGothicRegular;
    font-size: 30px;
    font-weight:normal;
}

#get_started {
  width: 500px;
  margin: 200px auto 40px;
  padding: 15px;
  color: white;
  /* RGBa with 0.6 opacity */
  background-color: rgba(0, 0, 0, 0.6);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

#get_started h2 {
  font-family: LeagueGothicRegular;
  font-weight: normal;
  font-size: 30px;
  line-height: 10px;
}

#sign_up_button {
  text-align: center;
}

#sign_in_dialog, #sign_up_dialog {
  padding: 17px;
  width: 336px;
}

#social {
  position: absolute;
  bottom: 5px;
  right: 10px;
}

.twitter-link {
  text-decoration: none;
}
.twitter-link span{
  background: url("/images/twitter_logo.png") no-repeat;
  height: 25px;
  width: 88px;
  text-indent: -9999px;
  display: inline-block;
  vertical-align: middle;
}

.facebook-link {
  text-decoration: none;
}
.facebook-link span{
  background: url("/images/facebook_logo.jpg") no-repeat;
  height: 25px;
  width: 66px;
  text-indent: -9999px;
  display: inline-block;
  vertical-align: middle;
}

.pagination {
  text-align: center;
}

#calendar_button {
    vertical-align: text-bottom;
    width: 18px;
    height: 18px;
}

#plans {
    overflow: auto;
}

#plans .plan .select_button {
    margin-top: 0.3em;
}

#plans .select_button input.ui-state-selected {
    background: -moz-linear-gradient(center top , #058DFF 0%, #279CFF 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #0C6AA6;
    box-shadow: 0 2px 2px rgba(12, 106, 106, 0.5) inset, 0 1px 2px rgba(0, 0, 0, 0.2) !important;
    position: relative;
    top: 1px;
}

#plans .plan {
  float: left;
  border: 1px solid black;
  width: 250px;
  height: 200px;
  margin-top: 20px;
  text-align: center;
  background: white;
  position: relative;
}

#plans #free {
  border-right:0 none;
  left:10px;
}
#plans #saddhu {
  border-left:0 none;
  left:-3px;
}

#plans .plan ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#plans .plan ul li.price {
  /*position: absolute;
  bottom: %;
  width: 100%;*/
  margin-top: 5%;
  font-size: 1.2em;
  font-weight: bold;
}

#plans .plan ul li.limited {
  text-decoration: line-through;
}

#plans .plan h2 {
  margin-top: 0.5em;
  margin-bottom: 0.3em;
}

#plans .plan.recommended {
  font-size: 150%;
  width: 270px;
  height: 240px;
  margin-top: 0;
  background: LightGoldenRodYellow;
  box-shadow: 10px 10px 5px #888;
  -moz-box-shadow:10px 10px 5px #888888;
  -webkit-box-shadow:10px 10px 5px #888888;
  z-index: 1;
}

#plans .plan.recommended ul {
  font-size: 70%;
  line-height:150%;
}

#plans .limited {
  color: #ef8c08;
  font-weight: bold;
}

#plans .unlimited {
  color: #96C846;
  font-weight: bold;
}

.field.cc {
    display:none;
}

.field.cc.set {
    display: inherit;
}

.twitter-share-button {
  vertical-align: -7px;
}

.facebook-share-button {
  vertical-align: -1px;
}

.buttons {
  overflow: hidden;
}

#share_button {
  float: right;
  top: -3px;
}

.pt .ui-selectmenu-item-icon {
  background: url(/images/br_flag.png) 0 1px no-repeat;
  height: 16px;
}

.en .ui-selectmenu-item-icon {
  background: url(/images/us_flag.png) 0 1px no-repeat;
  height: 16px;
}

.es .ui-selectmenu-item-icon {
  background: url(/images/ar_flag.png) 0 1px no-repeat;
  height: 16px;
}

.ui-selectmenu-status .ui-selectmenu-item-icon {
  background-position: 0 -1px;
  height: 16px;
}

.gecko .ui-selectmenu-status .ui-selectmenu-item-icon, .ie .ui-selectmenu-status .ui-selectmenu-item-icon {
  background-position: 0 1px;
}

.field_with_errors {
  display: inline-block;
}

.field_with_errors label {
    color: red;
}

.container {
  padding-left: 200px;
}

.sidebar {
  float: left;
  margin-right: -100%;
  right: 200px;
  width: 200px;
  position: relative;
}

.sidebar ul {
  list-style: none;
  padding: 10px 0 0 0;
  margin: 0;
}

.sidebar ul li {
  margin-bottom: 5px;
  margin-left: 10px;
}

.sidebar ul li a {
  width: 155px;
}

.sidebar ul li > span {
  width: 180px;
  line-height: 2em;
  display: inline-block;
  text-align: center;
}

.content {
  float: left;
  position: relative;
  width: 100%;
}

#practice_event_practice_id {
    max-width: 315px;
}