#header {
  overflow: hidden;
}

#logo {
  position: absolute;
  background: transparent url("/images/logo_70.png") no-repeat;
  text-indent: -9999px;
  height: 62px;
  width: 140px;
  margin: 0;
}

#header #menu {
  float: right;
  margin-right: 10px;
}

#header #user_nav {
  float: right;
  margin-right: 10px;
}

.alert {
  overflow: auto;
}

.alert p {
  float: left;
}

.alert form {
  float: left;
  margin-top: 3px;
}

ul.actions {
  padding: 0;
}

ul.actions li{
  display: inline;
}

#confirm_dialog p {
  margin: 12px 0 0 0;
}

.help {
  display: inline-block;
  margin-left: 4px;
  vertical-align: top;
}

#registration_links {
  margin-top: 10px;
}

div[aria-labelledby = 'ui-dialog-title-edit_profile_dialog'] .ui-dialog-titlebar {
  display: none;
}

div[aria-labelledby = 'ui-dialog-title-edit_profile_dialog'] .ui-dialog-content, div[aria-labelledby = 'ui-dialog-title-edit_profile_dialog'] .ui-tabs {
  padding:0;
}

#edit_profile_dialog .ui-tabs-nav .ui-state-active {
  background: #EEE url(http://localhost:3000/stylesheets/ui-lightness/images/ui-bg_highlight-soft_100_eeeeee_1x100.png) repeat-x 20% 10%;

}

#ui-tab-dialog-close {
  position:absolute; right:0; top:20px;
}

#ui-tab-dialog-close a {
  float:none; padding:0;
}