#header {
  overflow: hidden;
}

#header h1 {
  float: left;
  margin-left: 10px;
  font-weight: bold;
}

#header #menu {
  float: right;
  margin-right: 10px;
}

#header #user_nav {
  float: right;
  margin-right: 10px;
}

ul.actions {
  padding: 0;
}

ul.actions li{
  display: inline;
}

#confirm_dialog p {
  margin: 12px 0 0 0;
}

.help {
  display: inline-block;
  margin-left: 4px;
  vertical-align: top;
}