#practices {
  padding: 0;
  margin: 0;
  list-style: none;
}

#practices .practice {
  padding: 15px;
  margin: 10px;
  background: #fff;
  border: solid 1px #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.practice h3 {
  margin-top: 0;
  display: inline;
}

.practice p.time {
  display: inline;
}

#quicksearch {

}
#quicksearch input {
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 92%;
}

#practice_editor {
  padding-left: 190px;
  padding-right: 8px;
}

#sidebar {
  width: 190px;
  right: 190px;
  float: left;
  position: relative;
  margin-right: -100%;
}

#techniques_accordion .techniques-viewport {
  padding: 0;
  overflow: auto;
}

#techniques_accordion .techniques-viewport ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#techniques_accordion .techniques-viewport ul li {
}

#techniques_accordion .practice_technique {
  margin-top: 10px;
}

.technique {
  cursor: move;
  border: 1px solid black;
  width: 150px;
  margin: 10px;
  background: white;
  text-align: center;
}

#technique_dialog {
  text-align: center;
  overflow: hidden;
}

#technique_dialog img {
  border: 1px solid black;
}

#technique_dialog p {
  text-align: left;
}

.part-techniques .practice_technique {
  cursor: move;
  border: 1px solid black;
  position: relative;
  width: 100px;
  height: 100px;
}

#practice_parts {
  width: 100%;
  margin-top:1px;
  margin-left: 5px;
  float: left;
  position: relative;
  vertical-align: top;
  border: 1px solid #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  overflow: auto;
  background: #fff;
}

.part-techniques {
    overflow: auto;
}

#practice_parts ul {
    height: 28px;
}

#practice_parts li .ui-icon-close {
    float: left;
    margin: 0.4em 0 0 0;
    cursor: pointer;
}

#practice_parts .ui-tabs-nav li a {
    padding-top: 4px;
    padding-bottom: 4px;
}

#practice_parts button {
  margin-top: 1px;
  height: 27px;
  border-bottom: 0;
}

#practice_parts button .ui-button-text {
    padding:0.4em 2.1em 0.4em 1.1em;
}

#practice_parts button .ui-icon {
    right: 2px;
    margin-top: -7px;
}

.part-techniques .practice_technique {
  width: 150px;
  height: 150px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  float: left;
  text-align: center;
}

.practice_technique h3 {
  font-size: 15px;
  margin: 5px;
}

.part-techniques .practice_technique h3 {
  font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
}

.part-techniques .practice_technique h3.long {
  font-size: 90%;
}

.part-techniques .practice_technique.working {
  background: yellow;
}

.part-techniques .practice_technique .back {
  display: none;
}

.part-techniques .practice_technique .associated_techniques {
  padding-left: 20px;
}

.associated-technique-actions {
  display: none;
}

.part-techniques .practice_technique:hover .back {
  display: inherit;
}

.part-techniques .practice_technique:hover .front {
  display: none;
}

.associated-technique:hover .associated-technique-actions {
  display: inline-block;
}

.associated-technique-actions span {
  display: inline-block;
  vertical-align: top;
}


.practice_technique .actions {
  margin-top:5px;
  padding:0;
}

.practice_technique .actions li{
  display: inline-block;
}

span.jeditable:hover {
  border: 1px solid black;
}

span.jeditable.editing:hover {
  border: 0;
}

span.jeditable input, span.jeditable textarea {
  width: 350px;
}

span#jeditable_delay input {
  width: 20px;
}

span#jeditable_description input {
  width: 90%;
}

.multiple.field {
  margin: 0;
}

.time.multiple.field .field {
  width: 32.5%;
  display: inline-block;
}

.time.multiple.field .field input[type = text] {
  width: 90%;
}

.compensate.field input {
  margin-left:36%;
}

.field.observations textarea {
  width: 99%;
  height: 100px;
}

.field.description textarea {
    width: 99%;
    height: 100px;
}

#controls {
  line-height: 2.5em;
  margin: 5px 0;
  text-align: center;
  border: 1px solid #CCC;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  display: block;
  position: relative;
  background: #fff;
}

#controls #main_controls {
  display: inline-block;
  position: absolute;
}

#main_controls {
  margin-left: 5px;
}

#main_controls a {
  vertical-align: middle;
}

#play_controls {
  display: inline-block;
}

#play_controls a {
  vertical-align: middle;
}

#countdown {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 2em;
    vertical-align: middle;
    line-height: 1.5em;
}

#slideshow_practice_techniques {
  display: block;
  width: 98%;
}

.slideshow_practice_technique {
  display: block;
  border: 1px solid #CCC;
  margin: 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background: #fff;
}

#main_panel {
  display: inline-block;
  float: left;
  width: 29.9%;
  text-align: center;
  border-right: 1px solid #CCC;
  height: 460px;
}

#main_panel h2 {
    background: none repeat scroll 0 0 white;
    position: absolute;
    top: 0;
    width: 29.9%;
}

#info_panel {
  display: inline-block;
  float: left;
  width: 69%;
  height: 460px;
  padding: 0 0.5%;
}

#info_panel .associated_techniques {
  list-style: none;
  display: inline;
  margin-left: 0;
  padding-left: 0;
}

#info_panel .associated_techniques .associated_technique {
  display: inline-block;
  list-style: none;
  text-align: center;
}

div[aria-labelledby = 'ui-dialog-title-edit_practice_dialog'] .ui-dialog-titlebar {
  display: none;
}

div[aria-labelledby = 'ui-dialog-title-edit_practice_dialog'] .ui-dialog-content, div[aria-labelledby = 'ui-dialog-title-edit_practice_dialog'] .ui-tabs {
  padding:0;
}

#edit_practice_dialog .ui-tabs-nav .ui-state-active {
  background: #EEE url(http://localhost:3000/stylesheets/ui-lightness/images/ui-bg_highlight-soft_100_eeeeee_1x100.png) repeat-x 20% 10%;
}

#practice-ui-tab-dialog-close {
  position:absolute; right:0; top:20px;
}

#practice-ui-tab-dialog-close a {
  float:none; padding:0;
}

.practice_technique_time {
  position: absolute;
  bottom: 0;
  right: 2px;
}