#quicksearch {

}
#quicksearch input {
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 92%;
}

#sidebar {
  width: 15%;
  display: inline-block;
}

#techniques_accordion .techniques-viewport {
  height: 300px;
  padding: 0;
  overflow: auto;
}

#techniques_accordion .techniques-viewport ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#techniques_accordion .techniques-viewport ul li {
}

#techniques_accordion .practice_technique {
  margin-top: 10px;
}

.technique {
  cursor: move;
  border: 1px solid black;
  width: 150px;
  margin: 10px;
  background: white;
  text-align: center;
}

#practice_techniques .practice_technique {
  cursor: move;
  border: 1px solid black;
  position: relative;
  width: 100px;
  height: 100px;
}

#practice_techniques {
  width: 84.4%;
  min-height: 165px;
  display: inline-block;
  vertical-align: top;
  border: 1px solid #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  overflow: auto;
}
#practice_techniques .practice_technique {
  width: 150px;
  height: 150px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  float: left;
  text-align: center;
}

.practice_technique h3 {
  font-size: 15px;
  margin: 5px;
}

#practice_techniques .practice_technique h3 {
  font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
}

#practice_techniques .practice_technique h3.long {
  font-size: 90%;
}

#practice_techniques .practice_technique.working {
  background: yellow;
}

#practice_techniques .practice_technique .back {
  display: none;
}

#practice_techniques .practice_technique .associated_techniques {
  padding-left: 20px;
}

.associated-technique-actions {
  display: none;
}

#practice_techniques .practice_technique:hover .back {
  display: inherit;
}

#practice_techniques .practice_technique:hover .front {
  display: none;
}

.associated-technique:hover .associated-technique-actions {
  display: inline-block;
}

.practice_technique .actions {
  margin-top:5px;
  padding:0;
}

.practice_technique .actions li{
  display: inline-block;
}

span.jeditable:hover {
  border: 1px solid black;
}

span.jeditable.editing:hover {
  border: 0;
}

span.jeditable input, span.jeditable textarea {
  width: 350px;
}

span#jeditable_delay input {
  width: 20px;
}

span#jeditable_description input {
  width: 92%;
}

.multiple.field {
  margin: 0;
}

.time.multiple.field .field {
  width: 32.5%;
  display: inline-block;
}

.time.multiple.field .field input[type = text] {
  width: 90%;
}

.compensate.field input {
  margin-left:36%;
}

.field.observations textarea {
  width: 99%;
  height: 100px;
}