#techniques_accordion {
  width: 15%;
  display: inline-block;
}

#techniques_accordion .techniques-viewport {
  height: 200px;
  padding: 0;
  overflow: hidden;
  cursor: s-resize;
}

#techniques_accordion .techniques-viewport ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#techniques_accordion .techniques-viewport ul li {
}

#techniques_accordion .practice_technique {
  width: 80%;
  margin-left: 10%;
  margin-top: 10px;
  z-index: 1000;
}

.practice_technique {
  cursor: move;
  border: 1px solid black;
}
#practice_techniques {
  width: 84%;
  min-height: 165px;
  display: inline-block;
  vertical-align: top;
  border: 1px solid #ccc;
  -moz-border-radius: 5px;
}
#practice_techniques .practice_technique {
  width: 150px;
  height: 150px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  float: left;
}
.practice_technique h3 {
  text-align: center;
}

.practice_technique #associated_techniques {
  text-align: center;
}

.practice_technique #associated_techniques h4 {
  display: inline-block;
}

.practice_technique.working {
  background: yellow;
}

#practice_techniques .practice_technique .actions {
  display: none;
}

.associated-technique-actions {
  display: none;
}

#practice_techniques .practice_technique:hover .actions {
  display: inherit;
}

.associated-technique:hover .associated-technique-actions {
  display: inline-block;
}

.practice_technique .actions ul li{
  display: inline;
}

span.jeditable:hover {
  border: 1px solid black;
}

span.jeditable.editing:hover {
  border: 0;
}
