<h1>Listing techniques</h1>

<table>
  <tr>
    <th>Type</th>
    <th>Code</th>
    <th>Parent</th>
    <th>Image</th>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%= render :partial => 'techniques_rows'%>
</table>

<br />

<%= link_to 'New Technique', new_admin_technique_path %>
