<div id='credits_dialog' style='display:none' title='<%= t('shared.credits_dialog.title') %>'>
  <p><%= t('shared.credits_dialog.text1') %>:</p>
  <ul>
    <li>Maestro Edgardo Caramella</li>
    <li>Instr. Natalia Sanmartin Gil</li>
    <li>Instr. Melina Flores</li>
    <li>Instr. Pablo Lewin</li>
    <li>Instr. Lucía Gagliardini <%= t('shared.credits_dialog.all_belgrano') %></li>
  </ul>
</div>
<%= javascript_tag do %>
  $('#credits_dialog').dialog({autoOpen: false, modal: true, width: 410});
<% end %>