<p> <%= t('shared.new_invitation_dialog.invite_from') %>
  <a href="/external_contacts?provider=google" onclick="popUp(this.href,'console',400,400); return false;" target="_blank">Gmail</a>
  <a href="/external_contacts?provider=yahoo" onclick="popUp(this.href,'console',515,505); return false;" target="_blank">Yahoo
    Mail</a>
  <a href="/external_contacts?provider=windows_live" onclick="popUp(this.href,'console',550,915); return false;" target="_blank">MSN</a>
  <a href="/facebook_contacts" onclick="popUp(this.href,'console',670,780); return false;" target="_blank">Facebook</a>
</p>