<div id='registration_links'>
  <%- if action != :sign_in %>
    <%= link_to_function t('shared.links.sign_in'), "$(this).parents('.ui-dialog-content').dialog('close'); $('#sign_in_dialog').dialog('open');" %><br />
  <% end -%>

  <%- if action != :sign_up %>
    <%= link_to_function t('shared.links.sign_up'), "$(this).parents('.ui-dialog-content').dialog('close'); $('#sign_up_dialog').dialog('open');" %><br />
  <% end -%>

  <%- if action != :forgot_password %>
    <%= link_to_function t('shared.links.forgot_password'), "$(this).parents('.ui-dialog-content').dialog('close'); $('#forgot_password_dialog').dialog('open');" %><br />
  <% end -%>

  <%- if action != :new_confirmation %>
    <%= link_to_function t('shared.links.confirmation_instructions'), "$(this).parents('.ui-dialog-content').dialog('close'); $('#new_confirmation_dialog').dialog('open');" %><br />
  <% end -%>
</div>