<h2>My practices</h2>

<ul id='practices'>
  <% @practices.each do |practice| %>
    <%= render :partial => 'practice', :locals => {:practice => practice} %>
  <% end %>
</ul>

<%= link_to_function 'New Practice', "$.ajax({
      type:'get',
      dataType: 'script',
      url: '/practices/new'
    });", :class => 'blue medium awesome' %>

<h2>Shared Practices</h2>
<h3>Soon!</h3>

<div id='confirm_dialog'></div>
<div id='edit_dialog' style='display:none'></div>
<br />


