<div id='calendar'></div>
<%= javascript_tag do %>
$('#calendar').fullCalendar({
  header: {
    left: 'prev',
    center: 'title',
    right: 'next'
  },
  editable: false,
  events: [
    <% events_array = [] %>
    <% @practice_events.each do |event| %>
      <% events_array << js_event(event) %>
    <% end %>
    <%= events_array.join(',') %>
  ],
  eventClick: function( event, jsEvent, view ) {
    $('#calendar').fullCalendar( 'removeEvents', event.id );
    $.ajax({
      type:'get',
      dataType: 'script',
      url: '/practice_events/' + event.id + '/edit'
    });
  },
  dayClick: function( date, allDay, jsEvent, view ) {
    $.ajax({
      type:'get',
      dataType: 'script',
      url: '/practice_events/new'
    });
  }
});
<% end %>
<div id='confirm_dialog' style='display:none' title='Confirm delete'><p>Are you sure?</p></div>
<div id='new_event_dialog' style='display:none' title='New event'></div>
<div id='edit_event_dialog' style='display:none' title='Edit event'></div>