<p>
  <b>Practice:</b>
  <%= @practice_event.practice_id %>
</p>

<p>
  <b>Start:</b>
  <%= @practice_event.start %>
</p>


<%= link_to 'Edit', edit_practice_event_path(@practice_event) %> |
<%= link_to 'Back', practice_events_path %>
