<p><%= t('devise.mailer_views.confirmation_instructions.welcome', :email => @resource.email) %></p>

<p><%= t('devise.mailer_views.confirmation_instructions.text') %></p>

<p><%= link_to t('devise.mailer_views.confirmation_instructions.link'), confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>