<!DOCTYPE html SYSTEM>
<html style="background-color: #fff; background-image: url('http://sadhana.luisperichon.com.ar/images/linear_bg.png'); background-repeat: repeat-x; background-position: bottom; min-height: 100%;">
  <head>
    <title>S&aacute;dhana</title>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="or8DIL/1C7xFn15JakDDjajM2a9+cupl4HAK3eyHNvQ=" />

    <style type="text/css">
      .ui-helper-clearfix:after { content: "." !important; display: block !important; height: 0 !important; clear: both !important; visibility: hidden !important; }
      .ui-state-default a:visited { color: #1c94c4 !important; text-decoration: none !important; }
      .ui-state-hover a:hover { color: #c77405 !important; text-decoration: none !important; }
      .ui-state-active a:visited { color: #eb8f00 !important; text-decoration: none !important; }
      .ui-widget :active { outline: none !important; }
      .ui-dialog .ui-dialog-titlebar-close:hover { padding: 0 !important; }
      .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0 !important; }
      .ui-datepicker-rtl .ui-datepicker-prev:hover { right: 1px !important; left: auto !important; }
      .ui-datepicker-rtl .ui-datepicker-next:hover { left: 1px !important; right: auto !important; }
      .awesome:visited { display: inline-block !important; padding: 5px 10px 6px !important; color: #fff !important; text-decoration: none !important; -moz-border-radius: 5px !important; -webkit-border-radius: 5px !important; -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5) !important; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5) !important; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25) !important; border-bottom: 1px solid rgba(0, 0, 0, 0.25) !important; position: relative !important; cursor: pointer !important; }
      .awesome:hover { background-color: #111 !important; color: #fff !important; }
      .awesome:active { top: 1px !important; }
      .small.awesome:visited { font-size: 11px !important; padding: 4px 6px 5px !important; }
      .awesome:visited { font-size: 13px !important; font-weight: bold !important; line-height: 1em !important; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25) !important; }
      .medium.awesome:visited { font-size: 13px !important; font-weight: bold !important; line-height: 1em !important; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25) !important; }
      .large.awesome:visited { font-size: 14px !important; padding: 8px 14px 9px !important; }
      .green.awesome:visited { background-color: #91bd09 !important; }
      .green.awesome:hover { background-color: #749a02 !important; }
      .blue.awesome:visited { background-color: #2daebf !important; }
      .blue.awesome:hover { background-color: #1C94C4 !important; }
      .red.awesome:visited { background-color: #e33100 !important; }
      .red.awesome:hover { background-color: #872300 !important; }
      .magenta.awesome:visited { background-color: #a9014b !important; }
      .magenta.awesome:hover { background-color: #630030 !important; }
      .orange.awesome:visited { background-color: #F6A828 !important; }
      .orange.awesome:hover { background-color: #E78F08 !important; }
      .yellow.awesome:visited { background-color: #ffb515 !important; }
      .yellow.awesome:hover { background-color: #fc9200 !important; }
      a:visited { color: #666 !important; }
      a:hover { color: black !important; }
    </style>
  </head>
  <body style="font-size: 13px; line-height: 18px; font-family: verdana, arial, helvetica, sans-serif; color: #333; margin-left: 10px; margin-right: 10px;">
    <div class="ui-widget-header ui-corner-all" id="header" style="-webkit-border-radius: 4px; overflow: hidden; font-weight: bold; color: #ffffff; border: 1px solid #e78f08; height: 62px; -moz-border-radius: 4px; border-radius: 4px; background: #f6a828 url('http://sadhana.luisperichon.com.ar/stylesheets/ui-lightness/images/ui-bg_gloss-wave_35_f6a828_500x100.png') repeat-x 50% 50%;">
      <a href="http://sadhana.luisperichon.com.ar/" style="color: #ffffff;"><h1 id="logo" style="position: absolute; background: transparent url('http://sadhana.luisperichon.com.ar/images/logo_62.png') no-repeat; text-indent: -9999px; height: 62px; width: 200px; margin: 0;">S&aacute;dhana</h1></a>

      <div id="menu" style="float: right; margin-right: 10px;">
      </div>
    </div>

    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>
